body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.account-module {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 340px;
    display: flex;
    flex-direction: column;
}

.account-module h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.account-module form {
    width: 100%;
}

.account-module label {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.account-module input[type="text"],
.account-module input[type="email"],
.account-module input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.account-module button {
    background-color: #5E0A8C;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: auto;  /* Butonul să nu fie pe toată lățimea */
    transition: background-color 0.3s ease;
}

.account-module button:hover {
    background-color: #502075;
}

.input-like {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f4f4f4;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}

#passwordForm {
    width: 100%;
    display: none;
}

/* Când formularul este vizibil, săgeata indică în sus */
.input-like.active .arrow-down {
    border-top: none;
    border-bottom: 5px solid #333;
}

#updatePasswordButton {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#updatePasswordButton:hover {
    background-color: #45a049;
}

#saveChangesButton {
    background-color: #5E0A8C;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

#saveChangesButton:hover {
    background-color: #502075;
}


#message {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
