body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.account-module {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 340px;
}

.account-module h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.account-module form {
    display: flex;
    flex-direction: column;
}

.account-module label {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.account-module input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.account-module button {
    background-color: #5E0A8C;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;

    transition: background-color 0.3s ease;
}

.account-module button:hover {
    background-color: #502075;
}

#message {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
